<html>
  <head>
    <meta charset="utf-8">
    <title>Card Sprint</title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
    <!-- We need this line below for responsiveness! -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
<div class="container">
    <div class="text-center">
    <h1>Card design sprint</h1>
    <p>Code the three cards we saw in the lecture</p>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('images/mmexport1404174448179.jpeg')">Breakfast
    </div>
    <br>
    <div class="card-product">
      <img src="images/mmexport1404174421476.jpeg">
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product descrition with relevant info only</p>
      </div>
    </div>
    <br>

    <div class="card-trip">
      <img src="images/mmexport1404174428656.jpeg">
      <div class="card-trip-infos">
        <div>
          <h2>Title Here</h2>
          <p>short description here!</p>
        </div>
        <h2 class="card-trip-price">$69.99</h2>
        <img class="card-trip-user avatar-bordered" src="images/girl_close_up_2-wallpaper-1920x1080.jpg">
      </div>
    </div>
</div>
  </body>
</html>
